
@Html.ActionLink("Editar", "Editar", new { id = item.cod_venta }) |
@Html.ActionLink("Detalles", "Detalle", new { id = item.cod_venta }) |
@Html.ActionLink("Eliminar", "Eliminar", new { id = item.cod_venta })


<h2>Index</h2>

