
@Html.ActionLink("Editar", "Editar", new { id = item.codigo }) |
@Html.ActionLink("Detalles", "Detalle", new { id = item.codigo }) |
@Html.ActionLink("Eliminar", "Eliminar", new { id = item.codigo })


<h2>Index</h2>

