
@Html.ActionLink("Editar", "Editar", new { id = item.cod_producto }) |
@Html.ActionLink("Detalles", "Detalle", new { id = item.cod_producto }) |
@Html.ActionLink("Eliminar", "Eliminar", new { id = item.cod_producto })


<h2>Index</h2>

